### CONFIGURATION
### --- QSUB SETTINGS --- ###
QUEUE_QCTOOL_CONFIG="01:00:00"
VMEM_QCTOOL_CONFIG="4G"
QUEUE_NOM_CONFIG="08:00:00"
VMEM_NOM_CONFIG="4G"
QUEUE_PERM_CONFIG="32:00:00"
VMEM_PERM_CONFIG="4G"

### --- FASTQTL SETTINGS --- ###
SEEDNO_CONFIG=91149216
PERMSTART_CONFIG="1000"
PERMEND_CONFIG="1000000"

### --- QCTOOL SETTINGS --- ###
MAF_CONFIG="0.05"
INFO_CONFIG="0.9"
HWE_CONFIG="6"